body {
    margin: 0;
}

button {
    margin-top: 26px;
    padding: 9px 27px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 5px;
}

h2 {
    color: #5A537B;
}

p {
    color: #353535;
}

#container {
    width: 550px;
    height: 729px;
    margin: 0 auto;
    background-color: #F4F4F4;
}

#main-heading {
    height: 285px;
    background-color: #6943FF;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#number-to-convert {
    background-color: #6943FF;
    font-size: 58px;
    color: white;
    border: 2px solid #B295FF;
    border-radius: 5px;
    width: 117px;
    height: 83px;
    text-align: center;
}

#unit-container {
    text-align: center;
    display: flex;
    flex-direction: column;
}

#length-container {
    margin-top: 36px;
}

#length-container,
#volume-container,
#mass-container {
    width: 500px;
    height: 109px;
    background-color: #FFFFFF;
    margin: 20px 25px;
    border-radius: 5px;
}